<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.pensionplan"
	version 	= "1.0.0">

	<name>PensionPlan</name>

	<description>
		Pension Planner
	</description>

	<author href="http://actuary-info.blogspot.com"
		email="jos.berkemeijer@gmail.com">
		Jos Berkemeijer
	</author>

	<icon src="https://sites.google.com/site/jbdown123/Home/actuary-scoop-it.jpg" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
